body, html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.exit-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}