<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body, html {
      height: 100%;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .exit-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Bao Phuc Duong - ECE4150</h1>
    <p class="lead">Mortality Analysis for 187 nations between 1970 and 2010</p>
    <hr class="my-4">
    <p>Choose an option:</p>
    <a href="/oneAnalysis" class="btn btn-primary mr-2" id="one-country-btn">One Country</a>
    <a href="/allAnalysis" class="btn btn-secondary" id="all-countries-btn">All Countries</a>
    <a href="/close" class="btn btn-danger exit-btn">Close Webpage</a>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
