<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_oneanalysis.css') }}">
</head>
<body>
    <a href="/" class="btn btn-primary home-btn">Home</a>
    
    <div class="center">
        <form action="/oneAnalysis" method="post" id="analysisForm">
            <label for="country_code">Country Code:</label>
            <select id="country_code" name="country_code">
                <option value="" disabled selected>Select a Country Code</option>
                <option value="AFG">AFG</option>
                <option value="AGO">AGO</option>
                <option value="ALB">ALB</option>
                <option value="AND">AND</option>
                <option value="ARE">ARE</option>
                <option value="ARG">ARG</option>
                <option value="ARM">ARM</option>
                <option value="ATG">ATG</option>
                <option value="AUS">AUS</option>
                <option value="AUT">AUT</option>
                <option value="AZE">AZE</option>
                <option value="BDI">BDI</option>
                <option value="BEL">BEL</option>
                <option value="BEN">BEN</option>
                <option value="BFA">BFA</option>
                <option value="BGD">BGD</option>
                <option value="BGR">BGR</option>
                <option value="BHR">BHR</option>
                <option value="BHS">BHS</option>
                <option value="BIH">BIH</option>
                <option value="BLR">BLR</option>
                <option value="BLZ">BLZ</option>
                <option value="BOL">BOL</option>
                <option value="BRA">BRA</option>
                <option value="BRB">BRB</option>
                <option value="BRN">BRN</option>
                <option value="BTN">BTN</option>
                <option value="BWA">BWA</option>
                <option value="CAF">CAF</option>
                <option value="CAN">CAN</option>
                <option value="CHE">CHE</option>
                <option value="CHL">CHL</option>
                <option value="CHN">CHN</option>
                <option value="CIV">CIV</option>
                <option value="CMR">CMR</option>
                <option value="COD">COD</option>
                <option value="COG">COG</option>
                <option value="COL">COL</option>
                <option value="COM">COM</option>
                <option value="CPV">CPV</option>
                <option value="CRI">CRI</option>
                <option value="CUB">CUB</option>
                <option value="CYP">CYP</option>
                <option value="CZE">CZE</option>
                <option value="DEU">DEU</option>
                <option value="DJI">DJI</option>
                <option value="DMA">DMA</option>
                <option value="DNK">DNK</option>
                <option value="DOM">DOM</option>
                <option value="DZA">DZA</option>
                <option value="ECU">ECU</option>
                <option value="EGY">EGY</option>
                <option value="ERI">ERI</option>
                <option value="ESP">ESP</option>
                <option value="EST">EST</option>
                <option value="ETH">ETH</option>
                <option value="FIN">FIN</option>
                <option value="FJI">FJI</option>
                <option value="FRA">FRA</option>
                <option value="FSM">FSM</option>
                <option value="GAB">GAB</option>
                <option value="GBR">GBR</option>
                <option value="GEO">GEO</option>
                <option value="GHA">GHA</option>
                <option value="GIN">GIN</option>
                <option value="GMB">GMB</option>
                <option value="GNB">GNB</option>
                <option value="GNQ">GNQ</option>
                <option value="GRC">GRC</option>
                <option value="GRD">GRD</option>
                <option value="GTM">GTM</option>
                <option value="GUY">GUY</option>
                <option value="HND">HND</option>
                <option value="HRV">HRV</option>
                <option value="HTI">HTI</option>
                <option value="HUN">HUN</option>
                <option value="IDN">IDN</option>
                <option value="IND">IND</option>
                <option value="IRL">IRL</option>
                <option value="IRN">IRN</option>
                <option value="IRQ">IRQ</option>
                <option value="ISL">ISL</option>
                <option value="ISR">ISR</option>
                <option value="ITA">ITA</option>
                <option value="JAM">JAM</option>
                <option value="JOR">JOR</option>
                <option value="JPN">JPN</option>
                <option value="KAZ">KAZ</option>
                <option value="KEN">KEN</option>
                <option value="KGZ">KGZ</option>
                <option value="KHM">KHM</option>
                <option value="KIR">KIR</option>
                <option value="KOR">KOR</option>
                <option value="KWT">KWT</option>
                <option value="LAO">LAO</option>
                <option value="LBN">LBN</option>
                <option value="LBR">LBR</option>
                <option value="LBY">LBY</option>
                <option value="LCA">LCA</option>
                <option value="LKA">LKA</option>
                <option value="LSO">LSO</option>
                <option value="LTU">LTU</option>
                <option value="LUX">LUX</option>
                <option value="LVA">LVA</option>
                <option value="MAR">MAR</option>
                <option value="MDA">MDA</option>
                <option value="MDG">MDG</option>
                <option value="MDV">MDV</option>
                <option value="MEX">MEX</option>
                <option value="MHL">MHL</option>
                <option value="MKD">MKD</option>
                <option value="MLI">MLI</option>
                <option value="MLT">MLT</option>
                <option value="MMR">MMR</option>
                <option value="MNE">MNE</option>
                <option value="MNG">MNG</option>
                <option value="MOZ">MOZ</option>
                <option value="MRT">MRT</option>
                <option value="MUS">MUS</option>
                <option value="MWI">MWI</option>
                <option value="MYS">MYS</option>
                <option value="NAM">NAM</option>
                <option value="NER">NER</option>
                <option value="NGA">NGA</option>
                <option value="NIC">NIC</option>
                <option value="NLD">NLD</option>
                <option value="NOR">NOR</option>
                <option value="NPL">NPL</option>
                <option value="NZL">NZL</option>
                <option value="OMN">OMN</option>
                <option value="PAK">PAK</option>
                <option value="PAN">PAN</option>
                <option value="PER">PER</option>
                <option value="PHL">PHL</option>
                <option value="PNG">PNG</option>
                <option value="POL">POL</option>
                <option value="PRK">PRK</option>
                <option value="PRT">PRT</option>
                <option value="PRY">PRY</option>
                <option value="PSE">PSE</option>
                <option value="QAT">QAT</option>
                <option value="ROU">ROU</option>
                <option value="RUS">RUS</option>
                <option value="RWA">RWA</option>
                <option value="SAU">SAU</option>
                <option value="SDN">SDN</option>
                <option value="SEN">SEN</option>
                <option value="SGP">SGP</option>
                <option value="SLB">SLB</option>
                <option value="SLE">SLE</option>
                <option value="SLV">SLV</option>
                <option value="SOM">SOM</option>
                <option value="SRB">SRB</option>
                <option value="STP">STP</option>
                <option value="SUR">SUR</option>
                <option value="SVK">SVK</option>
                <option value="SVN">SVN</option>
                <option value="SWE">SWE</option>
                <option value="SWZ">SWZ</option>
                <option value="SYC">SYC</option>
                <option value="SYR">SYR</option>
                <option value="TCD">TCD</option>
                <option value="TGO">TGO</option>
                <option value="THA">THA</option>
                <option value="TJK">TJK</option>
                <option value="TKM">TKM</option>
                <option value="TLS">TLS</option>
                <option value="TON">TON</option>
                <option value="TTO">TTO</option>
                <option value="TUN">TUN</option>
                <option value="TUR">TUR</option>
                <option value="TWN">TWN</option>
                <option value="TZA">TZA</option>
                <option value="UGA">UGA</option>
                <option value="UKR">UKR</option>
                <option value="URY">URY</option>
                <option value="USA">USA</option>
                <option value="UZB">UZB</option>
                <option value="VCT">VCT</option>
                <option value="VEN">VEN</option>
                <option value="VNM">VNM</option>
                <option value="VUT">VUT</option>
                <option value="WSM">WSM</option>
                <option value="YEM">YEM</option>
                <option value="ZAF">ZAF</option>
                <option value="ZMB">ZMB</option>
                <option value="ZWE">ZWE</option>
            </select>
            <br><br>
            <div id="ageGroupContainer" style="display: none;">
                <label for="age_group">Age Group:</label>
                <select id="age_group" name="age_group">
                    <option value="" disabled selected>Select an Age Group</option>
                    <option value="0-6 days">0-6 days</option>
                    <option value="7-27 days">7-27 days</option>
                    <option value="28-364 days">28-364 days</option>
                    <option value="1-4 years">1-4 years</option>
                    <option value="5-9 years">5-9 years</option>
                    <option value="10-14 years">10-14 years</option>
                    <option value="15-19 years">15-19 years</option>
                    <option value="20-24 years">20-24 years</option>
                    <option value="25-29 years">25-29 years</option>
                    <option value="30-34 years">30-34 years</option>
                    <option value="35-39 years">35-39 years</option>
                    <option value="40-44 years">40-44 years</option>
                    <option value="45-49 years">45-49 years</option>
                    <option value="50-54 years">50-54 years</option>
                    <option value="55-59 years">55-59 years</option>
                    <option value="60-64 years">60-64 years</option>
                    <option value="65-69 years">65-69 years</option>
                    <option value="70-74 years">70-74 years</option>
                    <option value="75-79 years">75-79 years</option>
                    <option value="80+ years">80+ years</option>
                    <option value="All ages">All ages</option>
                </select>
                <br><br>
            </div>
            <div id="genderContainer" style="display: none;">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender">
                    <option value="" disabled selected>Select a Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Both">Both</option>
                </select>
                <br><br>
            </div>
            <input type="submit" value="Submit" id="submitButton" disabled>
        </form>
    </div>
    <script src="/js/oneanalysis.js"></script> 

    {% if plot1 and plot2 %}
    <div class="center">
        <img src="data:image/png;base64,{{ plot1 }}" alt="Plot1">
        <img src="data:image/png;base64,{{ plot2 }}" alt="Plot2">
    </div>
    {% endif %}
</body>
</html>
